.gradient{
    height: 100px;
    width: 100%;
    background-color: red;
    opacity: 100%;
    display: inline-block;
      }
.gradient2{
    height: 100px;
    width: 100%;
    background-color: red;
    opacity: 50%;
    display: inline-block;
      }
.gradient3{
    height: 100px;
    width: 100%;
    background-color: red;
    opacity: 25%;
    display: inline-block;
      }
.gradient4{
    height: 100px;
    width: 100%;
    background-color: red;
    opacity: 10%;
    display: inline-block;
      }
h3{
    text-align: center;
}
