.box{
    display: flex;
    height: 60px;
    align-items: center;
}

.m{
    background-color: olive;
    text-align: center;
    flex-grow: 2;
    font-size: 20px;
}

.f{
    background-color: khaki;
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
}