.cont{
    list-style-type: none;
   margin: 0;
}
li{
    height: 25px;
    margin: 0;
    padding-top: 3px;
   padding-left: 15px;
}
.blue{
    background-color: blue;
    color: white;
  
}

.pink{
    background-color: pink;
    color: white;

}

.orange{
    background-color: orange;
    color: white;
  
}

#white{
    background-color: white;
    color: black;

}